
body {
/*    width: 50%;*/
    margin: 0;
    padding: 0;
    min-width: 150px;
    max-width: 100%;
}

h1 {
    width: 50%;
    text-align: center;
    margin: auto;
}

hr {
    width: 15%;
    max-width: 150px;
    margin: auto;
}

#container {
    text-align: center;
    width: 80%;
    min-width: 250px;
    max-width: 800px;
    max-height: 500px;
    margin: auto;
    margin-top: 2%;
}

.cards {
    display: inline-block;
    line-height: 100%;
    vertical-align: top;
    width: 14%;
    min-width: 40px;
    height: 150px;
    min-height: 100px;
    max-height: 180px;
/*    max-height: 250px;*/
    margin: 4px 4px 4px 8px;
    padding: 0;
    background: grey;

/*    transform: rotateY(180deg);*/
/*    backface-visibility: hidden;*/

}

img {
    vertical-align: middle;
/*    transform: rotateY(180deg);*/
/*    backface-visibility: hidden;*/
/*    display: none;*/
    width: 100%;
/*    105px*/
    height: 100%;
/*    140px*/
    fontSize: .4em;
    margin: auto;
/*    display: none;*/
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.rotate {
    transition: transform 2s;
    transform: rotateY(180deg);
/*    backface-visibility: hidden;*/
}

.imgShow {
    transition: transform 4s;
    transform: rotateY(180deg);
    backface-visibility: visible;
}

.rotateAgain {
    transition: transform 2s;
    transform: rotateY(180deg);
/*    backface-visibility: hidden;*/
}

.imgHide {
    transition: transform 4s;
    transform: rotateY(180deg);
/*
    display: none;
    backface-visibility: hidden;
*/
}

#reset {
    margin: 40px 42.5% 0 42.5%;
}







/*

.bttn {
    display: none;
    line-height: 150px;
    vertical-align: top;
    width: 113px;
    height: 150px;
}

.red {
    background: red;
}
*/


